<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Welcome!</title>
</head>
<body>
    <div style="text-align:center;">
      <h1>Flexbord</h1>
    Welcome to FlexBord!
    </div>
</body>
</html>
