<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Welcome!</title>
</head>
<body>
    <div style="text-align:center;">
      <h1>Flex-Board</h1>
    Welcome to Flex-Board!
    </div>
</body>
</html>
