<div class="row">
  <div class="container">
      <!-- <div class="col-md-8">
          <label><h2 style="margin-top: 0;">Club Members</h2></label>
      </div>
      <div class="col-md-4 text-right" *ngIf="hasCreatePerm">
          <button class="btn btn_green" [routerLink]="['/club/members/manage']" style="margin-top: 0;margin-bottom: 15px;"><i class="fa fa-plus"></i> Add New Member</button>                         
          <button class="btn btn_black" [routerLink]="['/club/members/import']" style="margin-bottom: 15px;">Import Members</button>                         
      </div> -->
      <button class="btn btn_black" [routerLink]="['/club/members/import']" style="margin-bottom: 15px;">Import Members</button>
      <div class="col-md-12" id="tabl">
        <table datatable  [dtOptions]="dtOptions" class="row-border hover" *ngIf="dataRenderer" >
          <thead>
            <tr>
              <th>_id</th>
              <th>Pic</th>
              <th>License #</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>DOB</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of members">
              <td style="display:none;">{{m._id}}</td>
              <td>
                <!-- <img src='{{picEnv}}{{m.photo}}' class="image_display" style="width:50px;height:50px;"> -->
                <img src="assets/noimage.jpg" class="image_display" style="width:50px;height:50px;" *ngIf="!m.photo" >
                      <img src='{{picEnv}}{{m.photo}}' class="image_display" style="width:50px;height:50px;" *ngIf="m.photo">
              </td>
              <td>{{m.license}} </td>
              <td>{{m.firstname}} </td>
              <td>{{m.lastname}}</td>
              <td>{{m.dob | dateFormatPipe :'dd/MM/yy'}}</td>
              <td>
                <a class="btn btn_pending tab_btn" (click)="changeStatusA(m._id)" *ngIf="m.status == 'Pending'" >
                  {{m.status}}
                </a>
                <a class="btn btn_green tab_btn" (click)="changeStatusP(m._id)" *ngIf="m.status == 'Approved'">
                  {{m.status}}
                </a>
              </td>
              <td>
                <a class="btn btn_green tab_btn"  (click)="editMember(m._id)" *ngIf="hasEditPerm">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a class="btn btn_red tab_btn delete-btn" (click)="deletemember(m._id)" *ngIf="hasDeletePerm">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
               
              </td>
            </tr>
          </tbody>
        </table>  
      </div>
  </div>  
</div>
