<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <!-- <ul class="nav navbar-top-links navbar-right">
            <li>
                <a [routerLink]="['/login']">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul> -->
        <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- <span class="glyphicon glyphicon-user"></span>  -->
                        <div class="row" *ngIf="profilePhoto && u">
                            <img src="{{profilePhoto}}" class="top_nav_sm">
                            <span><p class="top_nav_sm_text">{{u.firstname}} {{u.lastname}}</p></span>
                            <!-- <span class="glyphicon glyphicon-chevron-down carlet"></span> -->
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center" *ngIf="profilePhoto">
                                            <!-- <span class="glyphicon glyphicon-user icon-size"></span> -->
                                            <img src="{{profilePhoto}}" class="dropdown_sm">                                            
                                        </p>
                                    </div>
                                    <div class="col-lg-8"  *ngIf="u">
                                        <p class="text-left"><strong>{{u.firstname}} {{u.lastname}}</strong></p>
                                        <p class="text-left small">{{u.username}}</p>
                                        <span class="text-left roles"> <strong class="font-bold" *ngIf="roles['title']" >{{roles.title |  uppercase}}</strong> </span>
                                        <!-- <p class="text-left"> -->
                                            <!-- <a class="btn btn-primary btn-block btn-sm" [routerLink]="['/profile/view']">Profile</a> -->
                                            <!-- <a class="btn btn-primary btn-block btn-sm" onclick="open(location, '_self').close();">Profile</a> -->                                            
                                        <!-- </p> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p>
                                            <a href="#" class="btn btn-danger btn-block" [routerLink]="['/login']">
                                                <i class="fa fa-sign-out"></i> Log out</a>
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                            <p>
                                                <a href="#" class="btn btn-primary btn-block" [routerLink]="['/profile/view']">
                                                    <i class="fa fa-user-o"></i> Profile</a>
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

    </nav>
</div>