<div class="manage-box clearfix">
  <div class="col-md-12">
    <label><h2>Manage Classificatiom</h2></label>
  </div>
  <div class="col-md-12">
    <form [formGroup]="claForm" >
        <div class="col-md-12 pad">
            <div class="row">
                <div class="col-md-10">
                  <label>Name<a style="color:#f00 !important;">*</a></label>
                  <input class=" form-control" type="text" placeholder="Classification Name" formControlName="name">
                
                  <div class="alert alert-danger" role="alert" *ngIf="!claForm.get('name').valid && claForm.get('name').touched">
                    Name is required.
                  </div>
                </div>        
                <div class="col-md-2">
                  <button class="btn btn_green marTop" (click)='addVal()'>Add Value</button>
                </div>        
            </div>
        </div>        
          
        <div class="col-md-12 pad man clearfix" *ngFor="let v of value; let i = index; trackBy:trackByIndex" >
            <div class="row">
              <div class="col-md-10">
                <label>Value<a style="color:#f00 !important;">*</a></label>
                <input type="number" class="form-control" id="i"  placeholder="Value" [(ngModel)]='value[i]' [ngModelOptions]="{standalone: true}" required>
                <div *ngIf="i.errors && (i.dirty || i.touched)" class="alert alert-danger">
                  Value is required
                </div>       
              </div>
              <div class="col-md-2">
                <button class="btn btn_red marTop" *ngIf="value.length != 1"  (click)="delVal(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
              </div>   
            </div>           
        </div>
      </form>
  </div>
  <div class="col-md-12 margin_top">
        <div class="col-md-6">
            <button class="btn" [routerLink]="['/club/classifications']">Back</button>
        </div>
        <div class="col-md-6 text-right">
            <button (click)='saveVal()' class="btn btn_green" >Save</button>        
            <!-- [disabled]='!orgForm.valid' -->
        </div>  
  </div>
  </div>   