<div class="row">
  <div class="container">
      <div class="col-md-10">
          <label><h2>Classification</h2></label>
      </div>
      <div class="col-md-2 text-right" *ngIf="hasCreatePerm">
          <button class="btn btn_green" [routerLink]="['/organizer/classifications/manage']">New Classification</button>                         
      </div>
      <div class="col-md-12">
        <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="dataRenderer">
            <thead>
              <tr>
                <th>_ID</th>
                <th>Name</th>
                <th>Value</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of rows" >
                <td style="display:none">{{r._id}}</td>
                <td>{{r.name}}</td>
                <td>{{r.value}}</td>
                <td>
                  <a class="btn btn_green tab_btn"  routerLink="/organizer/classifications/manage/{{r._id}}" *ngIf="hasEditPerm" title="Edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a class="btn btn_red tab_btn" (click)="delClas(r._id)" *ngIf="hasDeletePerm" title="Delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>
