<div class="pad wrapper wrapper-content animated fadeInRight">
    <div class="row">
            <div class="col-md-12">
                <h2>Setup your Profile as:</h2>
            </div>
            <div class="text-center equal_height col-md-6">
                <h2>
                    Club
                </h2>
                <p>Setup your Club, Import your members, Create teams, and Use our Advance ScoreBord System. Follow your Tournamnet or Competition (Division) </p>
                <button class="box_btn" (click)='updateProfile(roles[3]._id)'>
                    Club Profile
                </button>
            </div>

            <div class="text-center equal_height col-md-6">
                <h2>
                    Organizer (Federation)
                </h2>
                <div >
                    <input class="col-sm-1" type="radio" name="org" id="" [value]="true" [(ngModel)]="check" (change)="change($event)" [checked]="check"><p class="text-left">Organize Games,Division &amp; Tournamnets </p>
                    <input class="col-sm-1" type="radio" name="org" id="" [value]="false" [(ngModel)]="check" (change)="assign($event)"><p class="text-left">Join Organize</p>
                    <select [disabled]="check" class="js-example-basic-single col-md-8" placeholder="Select a organizer" [(ngModel)]="value" name="state">
                        <option *ngFor="let ite of items"  [value]="ite._id">{{ite.name}}</option>
                    </select>
                </div>
                <button *ngIf="check == true" class="box_btn org" (click)='updateProfile(roles[2]._id)'>
                    Organizer  Profile
                </button>
                <button *ngIf="check == false" class="box_btn org" (click)='updateProfile(roles[2]._id)'>
                    Join Club
                </button>
            </div>

            <div class="text-center col-md-6">
                <h2>
                    Member
                </h2>
                <p>Setup your Member Profile, Follow your Tournamnet or Competition (Division) </p>
                <button class="box_btn" (click)='updateProfile(roles[1]._id)'>
                    Member Profile
                </button>
            </div>
            <div class="text-center equal_height col-md-6">
                <h2>
                    Trainer
                </h2>
                <p>Setup your Trainer, Follow your Tournamnet, Competition (Division) or Club </p>
                <button class="box_btn" (click)='updateProfile(roles[1]._id)'>
                    Trainer Profile
                </button>
            </div>        
        </div>
</div>
<br>
<div class="modal fade center" id="club" tabindex="-1" role="dialog" aria-labelledby="clubTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="clubTitle">Modal title</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

