<div class="manage-box clearfix">
  <div class="col-md-12">
    <label><h2>Manage Permissions</h2></label>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="man col-md-12">
        <div class="col-md-4">
          <h4 class="text-left">Role<a style="color:#f00 !important;">*</a></h4>
        </div>
        <div class="col-md-8">
          <select class="js-example-basic-single text-col-md-3" name="roles" [(ngModel)]='accessor.roles'
                        [ngModelOptions]="{standalone: true}" (ngModelChange)="getpermdata(accessor.roles)">
                 <option value="" disabled="true" [selected]="true">Select Role</option>
                 <option *ngFor="let ite of rolesdata" [value]="ite._id">{{ite.title}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="per-tabbox" *ngIf="accessor.roles">
        <thead style="font-size: large;">
          <th style="width:20%;">Modules</th>
          <th style="width:10%;" class="text-col-md-3 col-md-3">
            <input class="text-col-md-3" type="checkbox" (ngModelChange)="checkviewperm()" [(ngModel)]="checkview" [ngModelOptions]="{standalone: true}">            View
          </th>
          <th style="width:10%;" class="text-col-md-3 col-md-3">
            <input class="text-col-md-3" type="checkbox" (ngModelChange)="checkcreateperm()" [(ngModel)]="checkcreate" [ngModelOptions]="{standalone: true}">            Create
          </th>
          <th style="width:10%;" class="text-col-md-3 col-md-3">
            <input class="text-col-md-3" type="checkbox" (ngModelChange)="checkeditperm()" [(ngModel)]="checkedit" [ngModelOptions]="{standalone: true}">            Edit
          </th>
          <th style="width:10%;" class="text-col-md-3 col-md-3">
            <input class="text-col-md-3" type="checkbox" (ngModelChange)="checkdelperm()" [(ngModel)]="checkdel" [ngModelOptions]="{standalone: true}">            Delete
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let i of modules;index as x;">
            <td><label>{{i}}</label></td>
            <td><input class="text-col-md-3" type="checkbox" [(ngModel)]="accessor.permissions[x][i][0]"
                        [ngModelOptions]="{standalone: true}"><span></span></td>
            <td><input class="text-col-md-3" type="checkbox" [(ngModel)]='accessor.permissions[x][i][1]'
                        [ngModelOptions]="{standalone: true}"><span></span></td>
            <td><input class="text-col-md-3" type="checkbox" [(ngModel)]='accessor.permissions[x][i][2]'
                        [ngModelOptions]="{standalone: true}"><span></span></td>
            <td><input class="text-col-md-3" type="checkbox" [(ngModel)]='accessor.permissions[x][i][3]'
                        [ngModelOptions]="{standalone: true}"><span></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   
</div>
 <div class="row">
      <div class="col-md-12" >
      <div class="col-md-6">
        <button class="btn btn-white" [routerLink]="['/club']">Back</button>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn_green" (click)='updatepermdata(accessor)'>Save</button>
      </div>
      </div>
  </div>