<div class="row">
    <div class="container">
        <div class="col-md-10">
            <label><h2>Organizations</h2></label>
        </div>
        <div class="col-md-2 text-right">
            <button class="btn btn_green" [routerLink]="['/organizer/manage']">New Org</button>                         
        </div>
        <div class="col-md-12" id="tabl">
        <div class="col-md-12 no_padd mar_btt">
        </div>
          <br>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
                <thead>
                  <tr>
                    <th *ngFor="let item of columns | orderBy:'registered'" >{{item.title}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of rows" >
                    <td><img src='{{item.logo}}' class="image_display" style="width:50px;height:50px;"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.registered  | dateFormatPipe}}</td>
                    <td>{{item.email}}</td>
                    <!-- <td><a routerLink="/organizer/manage/{{item.button}} ">{{item.button}} </a></td> -->
                    <td>
                      <a class="btn btn_green tab_btn" routerLink="/organizer/manage/{{item.button}}" >
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      <a class="btn btn_red tab_btn" (click)="delOrg(item.button,$index)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                      <a class="btn btn_blu tab_btn" routerLink="/organizer/orgmembers">
                        <i class="fa fa-user "></i>  
                      </a>
                      <a class="btn btn_yel tab_btn" routerLink="/classifications">
                        <i class="fa fa-code-fork"></i> 
                      </a>
                    </td>
                  </tr>
                </tbody>
        </table>
        </div>
    </div>  
  </div>
  
  