<div class="container manage-container">
  <div class="row">
    <form class="manage-component-form">
      <div class="col-md-12">
        <div class="row">
          <div class="manage-box clearfix">
            <div class="col-md-12">
              <label><h2>Playlists</h2></label>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="man col-md-4">
                  <h4 class="text-left">Playlist Name</h4>
                  <input class="text-col-md-3" type="text" [(ngModel)]="mForm.name" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="man col-md-4">
                  <h4 class="text-left">Item Name</h4>
                  <input class="text-col-md-3" type="text" [(ngModel)]="mForm.itemName" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="man col-md-4">
                  <h4 class="text-left">Item Type</h4>
                  <select class="js-example-basic-single text-col-md-3" [(ngModel)]="mForm.itemType" [ngModelOptions]="{standalone: true}">
                     <option value="" disabled="true" [selected]="true">Media Type</option>    
                     <option value="imageUrl">Image URL</option><option value="uploadImage">Upload Image</option>
                     <option value="videoUrl">Video URL</option><option value="uploadVideo">Upload Video</option>
                     <option value="webPage">Web Page</option>
                  </select>
                </div>
                <!--<div class="man col-md-4">
                  <div class="row" *ngIf="mForm.itemType=='imageUrl' || mForm.itemType=='videoUrl' || mForm.itemType=='webPage'">
                    <div class="col-md-12">
                      <h4 class="text-left">URL</h4>
                      <input class="text-col-md-3" type="text" [(ngModel)]="mForm.itemMedia" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="row" *ngIf="mForm.itemType=='uploadVideo'">
                    <div class="col-md-2">
                      <h4 class="text-left">Choose Video</h4>
                      <input type="file" accept="video/*" #file class="vdo_upload" (change)="readUrlvdo($event)">
                      <button class="btn btn_green" (click)="file.click()"> Upload Video</button>
                    </div>
                  </div>
                  <div class="row" *ngIf="mForm.itemType=='uploadImage'">
                    <div class="col-md-6">
                      <h4 class="text-left">Choose Image</h4>
                      <input type="file" accept="image/*" #file1 class="logo_upload" (change)="readUrl($event)">
                      <button class="btn btn_green" (click)="file1.click()"> Upload Image</button>
                    </div>
                    <div class="col-md-6" *ngIf="mForm.itemMedia">
                      <img [src]="imgurl" class="image_display">
                    </div>
                  </div>

                 
                </div>-->
                <div class="man col-md-4">
                  <h4 class="text-left">Time</h4>
                  <input class="text-col-md-3" type="number" [(ngModel)]="mForm.itemTime" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-white" [routerLink]="['/game_settings/playlists']">Back</button>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn_green" [disabled]="!mForm.itemType || !mForm.itemName || !mForm.name || !mForm.itemTime || !mForm.itemMedia" (click)='managesetting(mForm)'>Save</button>
      </div>
    </div>

  </div>