<div class="row">
    <div class="container">
        <div class="col-md-10">
            <label><h2>List of staff</h2></label>
        </div>
        <!-- <div class="col-md-2 text-right">
            <button class="btn btn_green" [routerLink]="['/club/manage']">
              <i class="fa fa-plus"></i> Add
            </button>                         
        </div> -->
        <div class="col-md-12" id="tabl">
        <div class="col-md-12 no_padd mar_btt">
        </div>
          <br>
        <table datatable [dtOptions]="dtOptions" class="row-border hover" >
                <thead>
                  <tr>
                      <th>Picture</th>
                      <th>Licence No.</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Title</th>
                      <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let item of rows" > -->
                  <tr> 
                    <td>789</td>
                    <td>565</td>
                    <td>456</td>
                    <td>123</td>
                    <td>555</td>
                    <td>
                        <a class="btn btn_red tab_btn" title="Teams">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn_green tab_btn"  title="Edit">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn_red tab_btn delete-btn" title="Delete" >
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                  </tr>
                </tbody>
        </table>
        </div>
    </div>  
  </div>
  