<div class="container manage-container">
<div class="row">
        <form [formGroup]="seasonForm" >
            <div class="manage-box clearfix">
                  <div class="col-md-12">
                    <label><h2>Manage Seasons</h2></label>
                  </div>
                    <div class="man col-md-4">
                        <label>Name<a style="color:#f00 !important;">*</a></label>
                        <input class="form-control" pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" type="text" placeholder="Season Name" formControlName="name">
                        <div class="alert alert-danger" role="alert" *ngIf="!seasonForm.get('name').valid && seasonForm.get('name').touched">
                            Name is required.
                        </div>
                    </div>        
                  <div class="man col-md-4">
                    <label>Start Date<a style="color:#f00 !important;">*</a></label>
                        <input type="text" class="col-md-4 form-control" style="width:70%" [maxDate]="start_date" #dp="bsDatepicker" bsDatepicker [bsConfig]="bsConfig" placeholder="Start Date"  formControlName="start_date" >
                        <span class="input-group-addon" style="width: 0%;height: 34px;" (click)="dp.toggle()">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                  </div>           
                  <div class="man col-md-4">
                    <label>End Date<a style="color:#f00 !important;">*</a></label>
                        <input type="text" class="col-md-4 form-control" style="width:70%" [minDate]="endMinDate" #dp2="bsDatepicker" [bsConfig]="bsConfig" placeholder="End Date" formControlName="end_date" bsDatepicker>
                        <span class="input-group-addon" style="width: 0%;height: 34px;"  (click)="dp2.toggle()" >
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>
                  </div>
            </div>
        </form>   
<br>
  <div class="col-md-12">
       <div class="row">
          <!-- <div class="col-md-6 text-left">
              <button class="btn btn-default" [routerLink]="['/organizer/seasons']">Back</button>
              <button class="btn" (click)="back()">Back</button>
          </div> -->
          <div class="col-md-6 text-right">
              <button  [disabled]='!seasonForm.valid'  (click)='addSesons();resetForm();' class="btn btn_green white" >Save</button>        
              <!-- [disabled]='!orgForm.valid' -->
          </div>   
        </div>
  </div>  
</div>   
</div> 