/* .col-md-12 {
    margin-top: 10px;
    left: -11px;
    padding: 0px 0 0 10px;
} */

img.image_display {
    width: 100px;
    
    height: 100px;
}
select {
    background-color: #fff;
}
input.capacity.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid red;
}
.capacity {
    width: 150px;
    height: 30px;
    margin-top: 2px;
    padding-left: 14px;
}
input.capacity.ng-dirty.ng-touched.ng-invalid {
    border: 1px solid red;
}
button.btn.btn-lg.dropdown-toggle.col-md-12 {
    padding: 0;
}
.manage-box .man select{
    height: 40px;
}
li.nav-item.active,
.nav > li.active, .nav > li:hover{
    background-color: #fff;
}
select.js-example-basic-single.text-col-md-3 ,
.manage-box[_ngcontent-c4]   .man[_ngcontent-c4]   select[_ngcontent-c4] {
    height: 30px;
}