<div class="row">
    <div class="container">
        <div class="col-md-10">
            <label><h2>Scoreboards</h2></label>
        </div>
        <div class="col-md-2 text-right" *ngIf="hasCreatePerm">
            <button class="btn btn_green" [routerLink]="['/game_settings/scoreboards/manage']"><i class="fa fa-plus"></i> Add New Scoreboard</button>                         
        </div>
        <div class="col-md-12" id="tabl">
        <div class="col-md-12 no_padd mar_btt">
        </div>
          <br>
        <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="dataRenderer">
                <thead>
                  <tr>
                      <th>_id</th>
                      <th>Game Setting Name</th>
                      <th>Display Name</th>
                      <th>Style</th>
                      <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of rows">
                    <td style="display:none">{{item._id}}</td>
                    <td>{{item.gamesettings.settingname | firstcapitalize}}</td>
                    <td>{{item.dispName | firstcapitalize}}</td>
                    <td>{{item.dispStyle | firstcapitalize}}</td>
                    <td>
                      <a class="btn btn_green tab_btn" routerLink="/game_settings/scoreboards/manage/{{item._id}}"  title="Edit" *ngIf="hasEditPerm">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                     <a class="btn btn_red tab_btn delete-btn" (click)="delClub(item._id)" title="Delete" *ngIf="hasDeletePerm">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
        </table>
        </div>
    </div>  
  </div>
 