<div class="row">
  <div class="container">
      <!-- <div class="col-md-8">
          <label><h2>Members</h2></label>
      </div> -->
      <!-- <div class="col-md-4 text-right" *ngIf="hasCreatePerm">
          <button class="btn btn_green" [routerLink]="['/organizer/orgmembers/member']" style="margin-top: 0;">
            <i class="fa fa-plus"></i> Add New Member
          </button>                         
          <button class="btn btn_black" [routerLink]="['/organizer/orgmembers/import']">Import</button>                         
      </div> -->
      <div class="col-md-12" id="tabl">
        <table datatable  [dtOptions]="dtOptions" class="row-border hover" >
          <thead>
            <tr>
              <th>_id</th>
              <th>Email</th>
              <th>User Type</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of members">
              <td style="display:none;">{{m._id}}</td>
              <td>{{m.emailAddress}} </td>
              <td>{{m.userType}} </td>
              <td>{{m.status}}</td>
              <td>
                <a class="btn btn_green tab_btn"  (click)="editMember(m._id)" *ngIf="hasEditPerm"  title="Edit">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a class="btn btn_red tab_btn delete-btn" (click)="deletemember(m._id)" *ngIf="hasDeletePerm"  title="Delete">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>  
      </div>
  </div>  
</div>
