img.profileView {
    width: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
    padding-top: 30px;
    height: 250px;
}
.under-box {
    margin: 13px auto;
}
.under-box div {
    padding-top: 2%;
}
.profileBtn {
    margin: 100% auto 0 auto;
}
