/* .col-md-12 {
    margin-top: 10px;
    left: -11px;
    padding: 0px 0 0 10px;
} */
.man {
    /* padding-bottom: 15px; */
    padding-top: 25px;
}
.text-col-md-3 {
    height: 30px;
    /*width: 250px;*/
}
.text-col-sm-3 {
    height: 30px;
    width: 70px;
}
#cont{
    padding-left: 58px;
}

button.btn.btn_green {
    background-color: #089468;
    color: #fff;
}
input.logo_upload {
    display: none;
}
img.image_display {
    width: auto;
    height: 100px;
}
#search_places {
    height: 35px;
    width: 252px;
  }

button{
    background-color: #fff;
}
  /* input.text-col-md-3.ng-pristine.ng-invalid.ng-touched {
    border: 1px solid red;
}
input.text-col-sm-3.ng-dirty.ng-invalid.ng-touched {
    border: 1px solid red;
}
input.text-col-md-3.ng-touched.ng-dirty.ng-invalid {
    border: 1px solid red;

} */
.alert.alert-danger {
    position: inherit;
    width: 253px;
}
select {
    background-color: #fff;
}
.no_border:focus,
.no_border
{
    border: 1px #fff;
    font-size: 16px;
    background-color: #fff;
}
input.no_border.text-col-md-3.ng-pristine.ng-valid.ng-touched ,
input.no_border.text-col-md-3.ng-pristine.ng-valid.ng-untouched {
    border: 1px #fff;
}
/* input.no_border.ng-pristine.ng-touched.ng-invalid{
    border: 0px;    
} */

ul.dropdown-menu.col-md-8 {
    margin-left: 16px;
    font-size: 22px;
    width: 97%;
}
input.no_border.text-col-md-3 {
    border: 0px;
}
button.btn.btn-lg.dropdown-toggle.col-md-12 {
    padding: 0;
}
.manage-box .man select{
    height: 40px;
}
li.nav-item.active,
.nav > li.active, .nav > li:hover{
    background-color: #fff;
}