<div>
    <tabset #staticTabs>
        <tab heading="Base">
<div class="container manage-container">
  <div class="row">
    <form class="manage-component-form">
      <div class="row1">
        <div class="manage-box clearfix">
          <div class="col-md-12">
            <label><h2>Game Setting</h2></label>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="man col-md-4">
                <label>Name Setting<a style="color:#f00 !important;">*</a></label>
                <input class="text-col-md-3" type="text" [(ngModel)]="mForm.settingname" [ngModelOptions]="{standalone: true}" required>
              </div>

              <div class="man col-md-4">
                <label>Sport<a style="color:#f00 !important;">*</a></label>
                <select class="js-example-basic-single text-col-md-3" [(ngModel)]="mForm.sports" [ngModelOptions]="{standalone: true}" required>
                      <option value="" disabled="true" [selected]="true">Select Sport</option>    
                      <option *ngFor="let item of sportsdata"  [value]="item._id">{{item.name}}</option>
                </select>
              </div>

              <div class="man col-md-4">
                <label>Copy Settings From</label>
                <select class="js-example-basic-single text-col-md-3" [(ngModel)]="mForm.settings" [ngModelOptions]="{standalone: true}">
                      <option value="" disabled="true" [selected]="true">Select Setting</option>    
                      <option *ngFor="let item of settingsdata"  [value]="item._id">{{item.settingname}}</option>
                </select>
              </div>

            </div>
          </div>
        </div>

      </div>
    </form>

    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-white" [routerLink]="['/game_settings']">Back</button>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn_green" [disabled]="!mForm.settingname || !mForm.sports"
          (click)='managesetting(mForm)'>Save</button>
      </div>
    </div>
  </div>
</div>
 </tab>
        <tab heading="Timesettings" [disabled]="!paramdetails"><app-managetimesetting></app-managetimesetting> <app-timesettings></app-timesettings></tab>
        <tab heading="Consequences" [disabled]="!paramdetails"><app-manageconsequence></app-manageconsequence><app-consequences></app-consequences></tab>
        <tab heading="Stuctures" [disabled]="!paramdetails"><app-managestructure></app-managestructure><app-structure></app-structure> </tab>
        <tab heading="Playlists" [disabled]="!paramdetails"><app-manageplaylist></app-manageplaylist><app-playlists></app-playlists></tab>
        <tab heading="Scoreboards" [disabled]="!paramdetails"><app-managescoreboard></app-managescoreboard><app-scoreboards></app-scoreboards></tab>
    </tabset>
</div>