<div class="row">
    <div class="container">
        <div class="col-md-10">
            <label><h2>Clubs</h2></label>
        </div>
        <div class="col-md-2 text-right">
            <button class="btn btn_green" [routerLink]="['/club/manage']">New Club</button>                         
        </div>
        <div class="col-md-12" id="tabl">
        <div class="col-md-12 no_padd mar_btt">
        </div>
          <br>
        <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="dataRenderer">
                <thead>
                  <tr>
                      <th>_id</th>
                      <th>Logo</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Registered</th>
                      <th>Owner</th>
                      <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of rows" >
                    <td style="display:none">{{item._id}}</td>
                    <td><img src='{{item.logo}}' class="image_display" style="width:50px;height:50px;"></td>
                    <td>{{item.name}}</td>
                    <td style="width:300px;">{{item.city}} ,{{item.country}}</td>
                    <td>{{item.registered | dateFormatPipe :'dd/MM/yy hh:mm a'}}</td>
                    <td>{{item.email}}</td>
                    <td>
                      <a class="btn btn_green tab_btn" routerLink="/club/manage/{{item._id}}"  title="Edit">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                     <a class="btn btn_red tab_btn" (click)="delClub(item._id)" title="Delete">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                      <a class="btn btn_1 tab_btn" (click)="movetomember(item._id)" title="Members">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </a>
                      <a class="btn btn_2 tab_btn" (click)="movetoseason(item._id)" title="Seasons">
                        <i class="fa fa-superpowers" aria-hidden="true"></i>
                      </a>
                      <!--<a class="btn btn_green tab_btn" (click)="movetoclassification(item._id)" title="Classifications">
                        <i class="fa fa-code-fork" aria-hidden="true"></i>
                      </a>-->
                      <a class="btn btn_red tab_btn" (click)="movetoteam(item._id)" title="Teams">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a> 
                    </td>
                  </tr>
                </tbody>
        </table>
        </div>
    </div>  
  </div>
  
  <!-- <div class="alert-popup">
      <div class="alert-popup-inner">
        <p>Confirm to delete this Organizer!</p>
        <div class="alert-popup-btn">
             <a href="#" class="btn btn_green">Ok</a>
             <a href="#" class="btn btn_green">cancel</a>
        </div>
      </div>
  </div> -->
  