<div class="row">
  <div class="container">
      <div class="col-md-10">
          <label><h2>Player Status</h2></label>
      </div>
      <div class="col-md-2 text-right" >
          <button class="btn btn_green" [routerLink]="['/sports/playerstatus/manage']">New Status</button>                         
      </div>
      <div class="col-md-12" id="tabl">
        <table datatable  [dtOptions]="dtOptions" class="row-border hover" onchange="gotcha()" *ngIf="dataRenderer">
          <thead>
            <tr>
              <th>_id</th>
              <th>Player Status</th>
              <th>Color button up</th>
              <th>Color button down</th>
              <th>Hide from Scoreboard</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of pstatus">
              <td style="display:none;">{{m._id}}</td>
              <td>{{m.playerstatus | firstcapitalize}} </td>
              <td>{{m.colorbtnup | firstcapitalize}}</td>
              <td>{{m.colorbtndown | firstcapitalize}}</td>
              <td>{{m.hidefromscoreboard | firstcapitalize}}</td>
              <td>
                <a class="btn btn_green tab_btn"  routerLink="/sports/playerstatus/manage/{{m._id}}" >
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a class="btn btn_red tab_btn" (click)="deletemember(m._id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>  
      </div>
  </div>  
</div>
