<div class="container manage-container">
  <div class="row">
    <form class="manage-component-form">
      <div class="manage-box clearfix">
        <div class="col-md-12">
          <label><h2>Shot Clock</h2></label>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="man col-md-6">
              <label>Shot Clock<a style="color:#f00 !important;">*</a></label>
              <input class="text-col-md-3" type="number" [(ngModel)]="tsForm.shotclock" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="man col-md-6">
              <label>Foul Shot Clock<a style="color:#f00 !important;">*</a></label>
              <input class="text-col-md-3" type="number" [(ngModel)]="tsForm.foulshotclock" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12">
                <label><h2>Pre Game</h2></label>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" type="text">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Clock descending</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-4">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12">
                <label><h2>Periods</h2></label>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" type="text">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Clock descending</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12">
                <label><h2>Breaks</h2></label>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Break</h4>
                    <input class="text-col-md-3" type="text">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Clock descending</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12">
                <label><h2>Timeouts</h2></label>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="man col-md-4">
                    <h4 class="text-left">Time-outs</h4>
                    <input class="text-col-md-3" type="text">
                  </div>
                  <div class="man col-md-4">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" type="text">
                  </div>
                  <div class="man col-md-4">
                    <h4 class="text-left">Clock descending</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12" style="margin-top: -3%;">
        <div class="col-md-4">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12 boxerbhai">
                <div class="row">
                  <div class="man col-md-12">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" type="text">
                  </div>
                  <div class="man col-md-12">
                    <h4 class="text-left">Clock descending</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                  <div class="man col-md-12">
                    <h4 class="text-left">Cumulative</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                  <div class="man col-md-12">
                    <h4 class="text-left">Refree stop</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12 boxerbhai">
                <div class="row">
                  <div class="man col-md-12">
                    <h4 class="text-left">Break</h4>
                    <input class="text-col-md-3" type="text">
                  </div>
                  <div class="man col-md-12">
                    <h4 class="text-left">Clock descending</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12 boxerbhai">
                <div class="row">
                  <div class="man col-md-12">
                    <h4 class="text-left">Time-outs</h4>
                    <input class="text-col-md-3" type="text">
                  </div>
                  <div class="man col-md-12">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" type="text">
                  </div>
                  <div class="man col-md-12">
                    <h4 class="text-left">Clock descending</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                  <div class="man col-md-12">
                    <h4 class="text-left">Cumulative</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<div class="col-md-12" style="margin:3%;">
    <div class="row">
      <button class="btn btn_red" style="background:#00DDA0;" (click)="addperiod()">Add Periods</button>
      <!--<button class="btn btn_red" style="background:#00DDA0;" (click)="addpenalty()">Add Penalties</button>-->
    </div>
</div>

      <div class="col-md-12">
        <div class="col-md-6">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12">
                <label><h2>Pre Game</h2></label>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" type="text">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Clock descending</h4>
                    <input class="text-col-md-3" type="checkbox">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>

    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-white" [routerLink]="['/game_settings/timesetting']">Back</button>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn_green" (click)='managesetting(tsForm)'>Save</button>
      </div>
    </div>

  </div>