<div class="container manage-container">
  <div class="row">
    <form class="manage-component-form">
      <div class="manage-box clearfix">
        <div class="col-md-12">
          <label><h2>Shot Clock</h2></label>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="man col-md-6">
              <label>Shot Clock<a style="color:#f00 !important;">*</a></label>
              <input class="text-col-md-3" type="number" [(ngModel)]="mForm.shotclock" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="man col-md-6">
              <label>Foul Shot Clock<a style="color:#f00 !important;">*</a></label>
              <input class="text-col-md-3" type="number" [(ngModel)]="mForm.foulshotclock" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12">
                <label><h2>Periods</h2></label>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Clock descending</h4>
                    <input class="text-col-md-3" type="checkbox" [(ngModel)]="mForm.periodsclockdesc" [ngModelOptions]="{standalone: true}">
                  </div>

                  <div class="man col-md-6">
                    <h4 class="text-left">Timeouts Type</h4>
                    <select class="js-example-basic-single text-col-md-3" [(ngModel)]="mForm.timeouttype" [ngModelOptions]="{standalone: true}"
                      required>
                    <option value="overall">Overall</option>    
                    <option value="perioddependable">Period dependable</option>
              </select>
                  </div>
                </div>
              </div>
            </div>


            <!--<div class="manage-box clearfix">
          <div class="col-md-12">
            <label><h2>Pregame</h2></label>
          </div>-->
            <div style="background: #eaeaea;height:330px;" class="clearfix">
              <div class="col-md-12">
                <label><h2>Pregame</h2></label>
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" type="number" [(ngModel)]="mForm.pregameduration" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Break</h4>
                    <input class="text-col-md-3" type="number" [(ngModel)]="mForm.pregamebreak" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <label><h2>Timeout settings</h2></label>
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Amount</h4>
                    <input class="text-col-md-3" [(ngModel)]="mForm.pregametimeoutamount" [ngModelOptions]="{standalone: true}" type="number">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" [(ngModel)]="mForm.pregametimeoutduration" [ngModelOptions]="{standalone: true}" type="number">
                  </div>
                </div>
              </div>
            </div>

            <div class="manage-box clearfix">
              <div class="col-md-12">
                <label><h2>Period</h2></label>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" type="number" [(ngModel)]="mForm.periodx.duration" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Break</h4>
                    <input class="text-col-md-3" type="number" [(ngModel)]="mForm.periodx.break" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Auto Stop</h4>
                    <input class="text-col-md-3" type="checkbox" [(ngModel)]="mForm.periodx.autostop" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <label><h2>Timeout settings</h2></label>
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Amount</h4>
                    <input class="text-col-md-3" [(ngModel)]="mForm.periodx.amount" [ngModelOptions]="{standalone: true}" type="number">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" [(ngModel)]="mForm.periodx.timeoutduration" [ngModelOptions]="{standalone: true}" type="number">
                  </div>
                </div>
              </div>
            </div>

            <div style="background: #eaeaea;height:330px;margin-bottom: 2%;" class="clearfix">
              <div class="col-md-12">
                <label><h2>Postgame</h2></label>
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" type="number" [(ngModel)]="mForm.postgameduration" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Break</h4>
                    <input class="text-col-md-3" type="number" [(ngModel)]="mForm.postgamebreak" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <label><h2>Timeout settings</h2></label>
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Amount</h4>
                    <input class="text-col-md-3" [(ngModel)]="mForm.postgametimeoutamount" [ngModelOptions]="{standalone: true}" type="number">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Duration</h4>
                    <input class="text-col-md-3" [(ngModel)]="mForm.postgametimeoutduration" [ngModelOptions]="{standalone: true}" type="number">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12">
                <label><h2>Overtime</h2></label>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Clock descending</h4>
                    <input class="text-col-md-3" type="checkbox" [(ngModel)]="mForm.overtimeclockdesc" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Points accumulative</h4>
                    <input class="text-col-md-3" type="checkbox" [(ngModel)]="mForm.pointsaccumulative" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Penalty</h4>
                    <input class="text-col-md-3" type="checkbox" [(ngModel)]="mForm.penalty" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Number of periods</h4>
                    <input class="text-col-md-3" type="number" [(ngModel)]="mForm.noofperiods" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Repeatable</h4>
                    <input class="text-col-md-3" type="checkbox" [(ngModel)]="mForm.repeatable" [ngModelOptions]="{standalone: true}">
                  </div>
                    <div class="col-md-12">
                      <label style="margin-top:5%;"><h2>Pregame</h2></label>
                      <div class="row">
                        <div class="man col-md-6">
                          <h4 class="text-left">Duration</h4>
                          <input class="text-col-md-3" type="number" [(ngModel)]="mForm.overtimepregameduration" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="man col-md-6">
                          <h4 class="text-left">Break</h4>
                          <input class="text-col-md-3" type="number" [(ngModel)]="mForm.overtimepregamebreak" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label style="margin-top:5%;"><h2>Postgame</h2></label>
                      <div class="row">
                        <div class="man col-md-6">
                          <h4 class="text-left">Duration</h4>
                          <input class="text-col-md-3" type="number" [(ngModel)]="mForm.overtimepostgameduration" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="man col-md-6">
                          <h4 class="text-left">Break</h4>
                          <input class="text-col-md-3" type="number" [(ngModel)]="mForm.overtimepostgamebreak" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-white" [routerLink]="['/game_settings/timesetting']">Back</button>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn_green" (click)='managesetting(mForm)'>Save</button>
      </div>
    </div>

  </div>