<div class="manage-box clearfix">
<div class="col-md-12">
    <label><h2>Add Members</h2></label>
</div>
<div class="col-md-12">
  <form class="m-t" role="form" action="#">
    <div class="row">
    <div class="col-md-4">
        <label>Email Address<a style="color:#f00 !important;">*</a></label>
        <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #email="ngModel" id="email" name="email" class="form-control" [(ngModel)]="mForm.emailAddress" placeholder="Email Address" [ngModelOptions]="{standalone: true}">
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
            <span *ngIf="email.errors.required">email is required</span>
            <span *ngIf="email.errors.pattern">please enter valid email address</span>
        </div>
    </div>
    <!-- </div> -->
    <div class="col-md-4">
        <label>Status<a style="color:#f00 !important;">*</a></label>
        <select class="spt text-col-md-3" [(ngModel)]="mForm.status" [ngModelOptions]="{standalone: true}">
            <option value="pending">Pending</option>
            <option value="approved">Approved</option>
        </select>
    </div>
    <div class="col-md-4">
        <label>User Type<a style="color:#f00 !important;">*</a></label>
        <input type="radio" value="organizeradmin" name="utype" required #utype="ngModel" id="utype" [(ngModel)]="mForm.userType" [ngModelOptions]="{standalone: true}"> 
        <label for="utype">Organizer Admin</label>
        <div *ngIf="utype.errors && (utype.dirty || utype.touched)" class="alert alert-danger">
            <span *ngIf="utype.errors.required">Usertype is required</span>
        </div>
    </div>
    
    </div>

  </form>
</div>

</div>
 <div class="col-md-12">
       <div class="row">
            <div class="col-md-6 text-left">
                 <a class="btn btn-default" [routerLink]="['/organizer/orgmembers']">Back</a>
            </div>
            <div class="col-md-6 text-right">
                 <button [disabled]="email.errors || utype.errors" class="btn btn_green white" (click)="addMember(mForm)">Save</button>
            </div>
       </div>
    </div>