<div class="container">
<div class="row">
  <div class="col-md-12">
    <label><h2>Manage Organizer</h2></label>
  </div>

      <div class="man col-md-6">
          <div class="col-md-3"><h4 class="text-right">Full Name<a style="color:#f00 !important;">*</a></h4></div>
          <div class="col-md-3">
            <input class="text-col-md-3" type="text" name="" id="" [(ngModel)]="orgdata.name">
          </div>
      </div>
      <div class="man col-md-6">
          <div class="col-md-3"><h4 class="text-right">Sub domain<a style="color:#f00 !important;">*</a></h4></div>
          <div class="col-md-3">
            <input class="text-col-md-3" type="text" name="" id="" [(ngModel)]="orgdata.subDomain">
          </div>
      </div>
      <div class="man col-md-6">
          <div class="col-md-3"><h4 class="text-right">Abbreviation<a style="color:#f00 !important;">*</a></h4></div>
          <div class="col-md-3">
            <input class="text-col-md-3" type="text" name="" id="" [(ngModel)]="orgdata.abbreviation">
          </div>
      </div>
      <div class="man col-md-6">
          <div class="col-md-3"><h4 class="text-right">Affiliated</h4></div>
          <div class="col-md-3">
            <!-- <input class="text-col-md-3" type="text" name="" id=""> -->
            <select class="js-example-basic-single text-col-md-3" [(ngModel)]="value" name="state" (setData)="dataChanged($event,'affilated')"  placeholder="Select Organization" select2>
                <option *ngFor="let ite of items"  [value]="ite.id">{{ite.name}}</option>
            </select>
          </div>
      </div>
      <div class="man col-md-6">
          <div class="col-md-3"><h4 class="text-right">Logo</h4></div>
          <div class="col-md-3">
              <input type="file" accept="image/*" #file class="logo_upload" (change)="readUrl($event)">
              <button class="btn btn_green" (click)="file.click()"> Upload</button>                
          </div>
          <div class="col-md-4" *ngIf="url" >
              <img [src]="url" class="image_display">               
          </div>
          <div class="col-md-2">
          </div>
      </div>
<!-- </div>

<div class="row"> -->
        <div class="col-md-12">
            <div class="col-md-6">
                <label><h2>Location</h2></label>
            </div>
            <div class="col-md-6" id="cont">
                <label><h2>Contact</h2></label>
            </div>
        </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="man col-md-4"><h4 class="text-right">Address</h4></div>
            <div class="man col-md-8">
                <ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallbackHL($event)"></ng4geo-autocomplete>
                <!--<input class="text-col-md-3" type="text" name="" id="">-->
            </div>
     
            <div class="man col-md-4"><h4 class="text-right">Building</h4></div>
            <div class="man col-md-8">
                <input class="text-col-md-3" disabled="disabled" [(ngModel)]="orgdata.building" type="text" name="" id="">
            </div>
     
            <div class="man col-md-4"><h4 class="text-right">Street</h4></div>
            <div class="man col-md-8">
                <input class="text-col-md-3" disabled="disabled" [(ngModel)]="orgdata.street" type="text" name="" id="">
            </div>
     
            <div class="man col-md-4"><h4 class="text-right">Country<a style="color:#f00 !important;">*</a></h4></div>
            <div class="man col-md-8">
                <input class="text-col-md-3" disabled="disabled" [(ngModel)]="orgdata.country" type="text" name="" id="">
            </div>
     
            <div class="man col-md-4"><h4 class="text-right">State</h4></div>
            <div class="man col-md-8">
                <input class="text-col-md-3" disabled="disabled" [(ngModel)]="orgdata.state" type="text" name="" id="">
            </div>
     
            <div class="man col-md-4"><h4 class="text-right">City<a style="color:#f00 !important;">*</a></h4></div>
            <div class="man col-md-8">
                <input class="text-col-md-3" disabled="disabled" [(ngModel)]="orgdata.city" type="text" name="" id="">
            </div>
     
            <div class="man col-md-4"><h4 class="text-right">Zipcode</h4></div>
            <div class="man col-md-8">
                <input class="text-col-md-3" disabled="disabled" [(ngModel)]="orgdata.zipcode" type="text" name="" id="">
            </div>
     
            <div class="man col-md-4"><h4 class="text-right">Capacity</h4></div>
            <div class="man col-md-8">
                <input class="text-col-sm-3"  type="text" name="" id=""  [(ngModel)]="orgdata.capacity">
            </div>
     
            <div class="man col-md-4"><h4 class="text-right">Place Pic</h4></div>
                <div class="man col-md-8">
                    <input type="file" accept="image/*" #file2 class="logo_upload" (change)="picPlaceUrl($event)">
                    <button class="btn btn_green" (click)="file2.click()"> Upload</button>                
                </div>
                <div class="man col-md-4" *ngIf="placePic" >
                    <img [src]="placePic" class="image_display">               
                </div>
                <div class="man col-md-2">
                </div>
           </div>
        </div>
        <!-- <div class="man col-md-2">
        </div> -->
        <div class="col-md-6">
                <div class="col-md-12">
                        <div class="man col-md-4"><h4 class="text-right">Website</h4></div>
                        <div class="man col-md-8">
                            <input class="text-col-md-3" type="text" [(ngModel)]="orgdata.website" name="" id="">
                        </div>
                 
                        <div class="man col-md-4"><h4 class="text-right">Email</h4></div>
                        <div class="man col-md-8">
                            <input class="text-col-md-3" type="text" [(ngModel)]="orgdata.email" name="" id="">
                        </div>
                 
                        <div class="man col-md-4"><h4 class="text-right">Telephone</h4></div>
                        <div class="man col-md-8">
                            <input class="text-col-md-3" type="text" [(ngModel)]="orgdata.phonenumber" name="" id="">
                        </div>                       
                 
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label><h2>Sports</h2></label>
                            </div>                                
                        </div>
                        <div class="man col-md-4"><h4 class="text-right">Choose</h4></div>
                        <div class="man col-md-8">
                            <select class="spt text-col-md-3" [(ngModel)]="value2" name="spot" multiple="multiple"  (setData)="dataChanged($event,'sport')" selectedValves={{value2}} options={{spots}} placeholder="Select Sports" select2>
                                <option *ngFor="let ite of spots"  [value]="ite.id">{{ite.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-12">
                                <div class="col-md-4">
                                    <label><h2>Affiliation</h2></label>
                                </div>                                
                        </div>
                        <div class="man col-md-12">
                            <div class="col-md-1"><input type="radio" name="affiliation" id="" value="opened" [(ngModel)]="orgdata.affilation"></div>
                            <div class="col-md-4">Opened</div>
                        
                            <div class="col-md-1"><input type="radio" name="affiliation" id="" value="closed" [(ngModel)]="orgdata.affilation"></div>
                            <div class="col-md-4">Closed</div>    
                        </div>
        </div>
</div>
</div>
<div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button class="btn" [routerLink]="['/organizer']">Back</button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button class="btn btn_green" (click)='addOrg()'>Save</button>        
            <!-- [disabled]='!orgForm.valid' -->
        </div>
        <div class="col-md-2"></div>   
</div>

<div class="man col-md-12"></div>   