<div class="container manage-container">
<div class="row">
<form [formGroup]="orgForm" class="manage-component-form">
  <div class="row1">
      <div class="manage-box clearfix">
            <div class="col-md-12">
              <label><h2>Manage Organizer</h2></label>
            </div>
            <div class="col-md-12">
            <div class="row">
                <div class="man col-md-6">
                      <h4 class="text-left">Full Name<a style="color:#f00 !important;">*</a></h4>
                      <input class="text-col-md-3" type="text" pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" formControlName="name" required>
                      <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('name').valid && orgForm.get('name').touched">
                            Name is required.
                      </div>
                </div>
                <div class="man col-md-6">
                      <h4 class="text-left">Sub domain<a style="color:#f00 !important;">*</a></h4>
                      <input class="text-col-md-3" type="text" formControlName="subDomain">
                      <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('subDomain').valid && orgForm.get('subDomain').touched">
                            Sub domain
                      </div>
                </div>
                <div class="man col-md-6">
                      <h4 class="text-left">Abbreviation<a style="color:#f00 !important;">*</a></h4>
                      <input class="text-col-md-3" type="text" formControlName="abbreviation">
                      <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('abbreviation').valid && orgForm.get('abbreviation').touched">
                            Abbreviation is required.
                      </div>
                </div>
                <div class="man col-md-6">
                        <h4 class="text-left">Affiliated<a style="color:#f00 !important;">*</a></h4>
                        <!-- <select class="js-example-basic-single text-col-md-3"  name="state" (setData)="dataChanged($event,'affilated')" formControlName="affilated"  placeholder="Select Organization" select2>
                            <option *ngFor="let ite of items"  [value]="ite.id">{{ite.name}}</option>
                        </select> -->
                        <select class="js-example-basic-single text-col-md-3"  name="affilated" formControlName="affilated">
                            <option value="null" disabled="true" [selected]="true">Select Organization</option>    
                            <option *ngFor="let ite of items"  [value]="ite.id">{{ite.name}}</option>
                        </select>
                        <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('affilated').valid && orgForm.get('affilated').touched">
                                Affilated is required.
                        </div>
                </div>
                <div class="man col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <h4 class="text-left">Logo<a style="color:#f00 !important;">*</a></h4>
                            <input type="file" accept="image/*" #file class="logo_upload" (change)="readUrl($event)" >
                            <button class="btn btn_green" (click)="file.click()"> Upload</button>     
                            <!--<span style="color:red; position: absolute;" *ngIf="!orgForm.get('logo').valid && orgForm.get('logo').touched">
                                  Logo is required.
                            </span>           -->
                        </div>
                        <div class="col-md-4" *ngIf="logo && !url" >
                              <img [src]="logo" class="image_display">               
                        </div>
                        <div class="col-md-4" *ngIf="url" >
                              <img [src]="url" class="image_display">               
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="manage-box clearfix">
           <div class="col-md-12">
                <label><h2>Location</h2></label>
           </div>
            <div class="col-md-12">
                <div class="row">
                <div class="man col-md-6"><h4 class="text-left">Address<a style="color:#f00 !important;">*</a></h4>
                    <input class="text-col-md-3" type="text" formControlName="address" (setAddress)="setAdd($event)" Googleplace>
                    <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('address').valid && orgForm.get('address').touched">
                            Address is required.
                    </div>   
                </div>
         
                <div class="man col-md-6">
                    <h4 class="text-left">Building</h4>
                    <input class="text-col-md-3" disabled="disabled" type="text"  formControlName="building">
                </div>
         
                <div class="man col-md-6">
                    <h4 class="text-left">Street</h4>
                    <input class="text-col-md-3" disabled="disabled" type="text"  formControlName="street">
                </div>
         
                <div class="man col-md-6">
                    <h4 class="text-left">Country<a style="color:#f00 !important;">*</a></h4>
                    <input class="text-col-md-3" disabled="disabled" type="text"  formControlName="country">
                </div>
         
                <div class="man col-md-6">
                    <h4 class="text-left">State</h4>
                    <input class="text-col-md-3" disabled="disabled" type="text"  formControlName="state">
                </div>
         
                <div class="man col-md-6">
                    <h4 class="text-left">City<a style="color:#f00 !important;">*</a></h4>
                    <input class="text-col-md-3" disabled="disabled" type="text"  formControlName="city">
                </div>
         
                <div class="man col-md-6">
                    <h4 class="text-left">Zipcode</h4>
                    <input class="text-col-md-3" disabled="disabled" type="text"  formControlName="zipcode">
                </div>
         
                <div class="man col-md-6">
                    <h4 class="text-left">Capacity<a style="color:#f00 !important;">*</a></h4>
                    <input class="text-col-sm-3"  type="number" formControlName="capacity">
                    <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('capacity').valid && orgForm.get('capacity').touched">
                            Capicity is required.
                    </div>
                </div>
         
                    <div class="man col-md-2">
                        <h4 class="text-left">Place Pic<a style="color:#f00 !important;">*</a></h4>
                        <input type="file" accept="image/*" #file2 class="logo_upload" (change)="picPlaceUrl($event)">
                        <button class="btn btn_green" (click)="file2.click()"> Upload</button>                
                    </div>
                    <div class="man col-md-2" *ngIf="placePic" >
                            <img [src]="placePic" class="image_display">               
                    </div>
                    <div class="man col-md-2" *ngIf="logo2 && !placePic" >
                            <img *ngFor="let item of logo2"  [src]="item" class="image_display">               
                    </div>
                    
               </div>
               </div>
      </div>

        <div class="manage-box clearfix">
            <div class="col-md-12">
                <label><h2>Contact</h2></label>
            </div>
            <div class="col-md-12">
                <div class="row">
                 <div class="man col-md-6">
                    <h4 class="text-left">Website<a style="color:#f00 !important;">*</a></h4>
                    <input class="text-col-md-3" type="text" formControlName="website">
                    <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('website').valid && orgForm.get('website').touched">
                            Website is required.
                    </div>    
                 </div>
                 <div class="man col-md-6">
                    <h4 class="text-left">Email<a style="color:#f00 !important;">*</a></h4>
                    <input class="text-col-md-3" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" formControlName="email" required>
                    <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('email').valid && orgForm.get('email').touched">
                            Email is required or invalid.
                    </div>     
                </div>
                <div class="man col-md-6">
                    <h4 class="text-left">Telephone</h4>
                    <input class="text-col-md-3" type="text" formControlName="phonenumber">
                    <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('phonenumber').valid && orgForm.get('phonenumber').touched">
                            Telphone is required.
                    </div> 
                </div>
            </div>
             </div>
        </div>
         
        <div class="manage-box clearfix">    
            <div class="col-md-12">
                 <label><h2>Sports</h2></label>
            </div>
             <div class="man col-md-12">
                    <h4 class="text-left">Choose<a style="color:#f00 !important;">*</a></h4>
                    <!-- <select class="spt text-col-md-3"  name="spot" multiple="multiple"  (setData)="dataChanged($event,'sport')" selectedValves={{value2}} options={{spots}} placeholder="Select Sports" select2 formControlName="sports">
                        <option *ngFor="let ite of spots"  [value]="ite.id">{{ite.name}}</option>
                    </select> -->
                    <div class="button-group">
                            <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown">
                                <input class="no_border text-col-md-3" type="text"  formControlName="sports"><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu col-md-8">
                                <li *ngFor="let ite of spots; let i = index; trackBy:trackByIndex" >
                                    <a class="small" (click)="$event.stopPropagation(); selec(ite.id)"><input type="checkbox" [checked]="spotsIns.indexOf(ite.id) >= 0"  data-value="{{ite.id}}"/>&nbsp; {{ite.name}}</a>
                                </li>
                            </ul>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('sports').valid && orgForm.get('sports').touched">
                            Sports is required.
                    </div> 

            </div>
            
        </div>

        <div class="manage-box radio-box clearfix"> 
             <div class="col-md-12">
                     <label><h2>Affiliation<a style="color:#f00 !important;">*</a></h2></label>                               
             </div>
             <div class="man col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <input type="radio" name="affilation"  value="opened" formControlName="affilation"  checked="checked">
                        <label>Opened</label>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" name="affilation"  value="closed" formControlName="affilation">
                        <label>Closed</label>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="!orgForm.get('affilation').valid && orgForm.get('affilation').touched">
                            Affiliation is required.
                    </div> 
                </div>
             </div>
        </div>
</div>
</form>

<div class="row">
    <div class="col-md-6">
        <button class="btn btn-white" [routerLink]="['/organizer']">Back</button>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn_green" [disabled]="!orgForm.valid" (click)='addOrg()'>Save</button>       
    </div>  
</div>

</div>