img.image_display {
    width: auto;
    height: 100px;
}
select,
.manage-component-form .text-col-md-3, .manage-component-form select, .select2-container .select2-selection--single {
    background-color: #fff;
    height: 30px;
}
.alert-danger {
    color: #a94442;
    margin-left: 15px;
    width: 97.5%;
}
/* input.text-col-md-3.ng-untouched.ng-pristine.ng-invalid {
    border: 1px solid red;
} */
/* .width-85{
    width: 85%;
} */