<div class="container manage-container" *ngIf="hasCreatePerm">
  <div class="row">
    <form class="manage-component-form">
      <div class="col-md-12">
        <div class="row">
          <div class="row1">
            <div class="manage-box clearfix">
              <div class="col-md-12">
                <label><h2>Player Consequences</h2></label>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="man col-md-4">
                    <h4 class="text-left">Name</h4>
                    <input class="text-col-md-3" id="name" style="padding-top:4px;" type="text" [(ngModel)]="mForm.playerconseq.name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="man col-md-4">
                    <h4 class="text-left">Color</h4>
                    <select id="color" class="js-example-basic-single text-col-md-3" [(ngModel)]="mForm.playerconseq.color" [ngModelOptions]="{standalone: true}"
                      required>
                        <option value="yellow">Yellow</option>    
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                        <option value="orange">Orange</option>
                        <option value="blue">Blue</option>
                        <option value="transparent">Transparent</option>
                    </select>
                  </div>
                  <div class="man col-md-4">
                    <h4 class="text-left">Foul Type</h4>
                    <select id="pctype" class="js-example-basic-single text-col-md-3" [(ngModel)]="mForm.playerconseq.type" [ngModelOptions]="{standalone: true}"
                      required >
                      <option value="" disabled="true" [selected]="true">Choose Type</option>
                        <option *ngFor="let xy of settingsfouldata" [value]="xy._id">{{xy.nameoffoul}}</option>
                    </select>
                  </div>
                  <div class="man col-md-4">
                    <h4 class="text-left">Value</h4>
                    <input class="text-col-md-3" type="number" id="pcvalue" [(ngModel)]="mForm.playerconseq.value" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-121">
          <div class="row">
             <div class="manage-box clearfix">
              <div class="col-md-12">
                <label><h2>Team Faults [BONUS]</h2></label>
              </div>
              <div class="col-md-12">
                <div class="row">
                        <div class="col-md-6">
                            <input class="text-col-md-3" id="faulttype" name="typer" type="radio" value="period" [(ngModel)]="mForm.teamfaults.faulttype" [ngModelOptions]="{standalone: true}">
                            <label>Period</label>
                        </div>
                        <div class="col-md-6">
                            <input class="text-col-md-3" id="faulttype2" name="typer" type="radio" value="game" [(ngModel)]="mForm.teamfaults.faulttype" [ngModelOptions]="{standalone: true}">
                            <label>Game</label>

                        </div>
                        <div class="man col-md-4">
                            <h4 class="text-left">Foul Type</h4>
                            <select class="js-example-basic-single text-col-md-3" [(ngModel)]="mForm.teamfaults.type" [ngModelOptions]="{standalone: true}"
                              required>
                              <option value="" disabled="true" [selected]="true">Choose Type</option>
                                <option *ngFor="let xy of settingsfouldata" [value]="xy._id">{{xy.nameoffoul}}</option>                      
                            </select>
                          </div>
                          <div class="man col-md-4">
                            <h4 class="text-left">Value</h4>
                            <input class="text-col-md-3" type="number" [(ngModel)]="mForm.teamfaults.value" [ngModelOptions]="{standalone: true}">
                          </div>
                    </div>
                <div class="row">
                  <div class="man col-md-6">
                    <h4 class="text-left">Foul Type</h4>
                    <select class="js-example-basic-single text-col-md-3" [(ngModel)]="mForm.teamfaults.type" id="tftype" [ngModelOptions]="{standalone: true}"
                      required>
                      <option value="" disabled="true" [selected]="true">Choose Type</option>
                        <option *ngFor="let xy of settingsfouldata" [value]="xy._id">{{xy.nameoffoul}}</option>                      
                    </select>
                  </div>
                  <div class="man col-md-6">
                    <h4 class="text-left">Value</h4>
                    <input class="text-col-md-3" type="number" [(ngModel)]="mForm.teamfaults.value" id="tfvalue" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-white" [routerLink]="['/game_settings/consequences']">Back</button>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn_green" [disabled]="!mForm.playerconseq.name || !mForm.playerconseq.color || !mForm.playerconseq.value || !mForm.playerconseq.type || !mForm.teamfaults.type" (click)='managesetting(mForm)'>Save</button>
      </div>
    </div>
  </div>
  </div>