<div class="row">
  <div class="container">
      <div class="col-md-10">
          <label><h2>Teams</h2></label>
      </div>
      <div class="col-md-2 text-right" *ngIf="hasCreatePerm">
          <button class="btn btn_green" [routerLink]="['/club/clubteam/team']">New Team</button>                         
      </div>
      <div class="col-md-12" id="tabl">
        <table datatable  [dtOptions]="dtOptions" class="row-border hover" onchange="gotcha()" *ngIf="dataRenderer">
          <thead>
            <tr>
              <th>_id</th>
              <th>Logo</th>
              <th>Name</th>
              <th>Sport</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tmp of teams">
              <td style="display:none;">{{tmp._id}}</td>
              <td><img src='{{picpoint}}{{tmp.logo}}' class="image_display" style="width:50px;height:50px;"></td>
              <td>{{tmp.name}} </td>
              <td>{{tmp.sport}}</td>
              <td>
                <a class="btn btn_green tab_btn"  routerLink="/club/clubteam/team/{{tmp._id}}" *ngIf="hasEditPerm">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a class="btn btn_red tab_btn" (click)="deleteteam(tmp._id)" *ngIf="hasDeletePerm">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>  
      </div>
  </div>  
</div>
