<div class="row">
  <div class="container">
      <!-- <div class="col-md-10">
          <label><h2>Fouls</h2></label>
      </div>
      <div class="col-md-2 text-right" *ngIf="hasCreatePerm">
          <button class="btn btn_green" [routerLink]="['/sports/fouls/manage']"><i class="fa fa-plus"></i> Add New Foul</button>                         
      </div> -->
      <div class="col-md-12" id="tabl">
        <table datatable  [dtOptions]="dtOptions" class="row-border hover" >
          <thead>
            <tr>
              <th>_id</th>
              <th>Name of Foul</th>
              <th>Value of Foul</th>
              <th>Player</th>
              <th>Coach</th>
              <th>Team</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of foulsdata">
              <td style="display:none;">{{m._id}}</td>
              <td>{{m.nameoffoul | firstcapitalize}} </td>
              <td>{{m.valueoffoul}}</td>
              <td>{{m.isplayer | firstcapitalize}}</td>
              <td>{{m.iscoach | firstcapitalize}}</td>
              <td>{{m.isteam | firstcapitalize}}</td>              
              <td>
                <a class="btn btn_green tab_btn" (click)="edit(m._id)" *ngIf="hasEditPerm">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a class="btn btn_red tab_btn delete-btn" (click)="deletemember(m._id)" *ngIf="hasDeletePerm">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>  
      </div>
  </div>  
</div>
