<div class="row">
  <div class="container">
    <div class="col-md-10">
      <label><h2>Game Settings</h2></label>
    </div>
    <div class="col-md-2 text-right" *ngIf="hasCreatePerm">
      <button class="btn btn_green" [routerLink]="['/game_settings/base']">New Setting</button>
    </div>
    <div class="col-md-12" id="tabl">
      <div class="col-md-12 no_padd mar_btt">
      </div>
      <br>
      <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="dataRenderer">
        <thead>
          <tr>
            <th>_id</th>
            <th>Name</th>
            <th>Sport</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rows">
            <td style="display:none">{{item._id}}</td>
            <td>{{item.settingname | firstcapitalize}}</td>
            <td>{{item.sports.name | firstcapitalize}}</td>
            <td>
              <a class="btn btn_green tab_btn" routerLink="/game_settings/base/{{item._id}}" title="Edit" *ngIf="hasEditPerm">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a class="btn btn_red tab_btn" (click)="delClub(item._id)" title="Delete" *ngIf="hasDeletePerm">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
              <a class="btn btn_1 tab_btn" (click)="movetotimesetting(item._id)" title="Time Settings">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </a>
              <a class="btn btn_2 tab_btn" (click)="movetoconsequences(item._id)" title="Consequences">
                <i class="fa fa-wheelchair" aria-hidden="true"></i>
              </a>
              <a class="btn btn_green tab_btn" (click)="movetostructures(item._id)" title="Structures">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>