<!--<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name gologo">Flex-bord</h1>
        </div>
        <h3>Welcome to Flex-bord</h3>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
    <input type="email" name="email" class="form-control form-control-lg input-square" [(ngModel)]="username" placeholder="Email Address"
                    required>
            </div>
            
            <button type="submit" (click)="resetpwd(username)" class="btn btn-primary block full-width m-b">Reset Password</button>

            <a class="btn btn-sm btn-white btn-block" [routerLink]="['/login']">Login</a>
        </form>
        <p class="m-t"> <small>Copyright &copy; Flex-bord 2014</small> </p>
    </div>
</div>-->
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div class="dis-table">
        <div class="dis-table-cell"> 
            <div class="login-inner-bg">
                <div class="head-logo">
                    <img src="assets/logo.png" alt="" srcset="">
                </div>
                <h1>Welcome to Flexbord</h1>
                <form class="m-t" role="form" action="#">
                    <div class="form-group">
                        <span class="glyphicon glyphicon-lock"></span>
                           <input type="password" name="password" class="form-control form-control-lg input-square" [(ngModel)]="R.password" placeholder="Password"
                            required>
                    </div>
                    <div class="form-group">
                        <span class="glyphicon glyphicon-lock"></span>
                           <input type="password" name="cpassword" class="form-control form-control-lg input-square" [ngClass]="(matched)?'ng-invalid':''" [(ngModel)]="R.cpassword" placeholder="Confirm Password"
                            required (change)="pwdchecker()">
                    </div>
                    <button type="submit" (click)="resetpwd(R)" class="btn btn-primary block full-width m-b">Set Password</button>
                </form>
                <p class="m-t"> <small>Copyright &copy; Flexbord 2014</small> </p>
            </div>
        </div>
    </div>
</div>