<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name gologo">Flex-bord</h1>
        </div>
        <h3>Welcome to Flex-bord</h3>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
    <input type="email" name="email" class="form-control form-control-lg input-square" [(ngModel)]="username" placeholder="Email Address"
                    required>
            </div>
            
            <button type="submit" (click)="resetpwd(username)" class="btn btn-primary block full-width m-b">Reset Password</button>

            <a class="btn btn-sm btn-white btn-block" [routerLink]="['/login']">Login</a>
        </form>
        <p class="m-t"> <small>Copyright &copy; Flex-bord 2014</small> </p>
    </div>
</div>