<div class="container manage-container">
  <div class="row">
    <div class="col-md-12">
      <div class="manage-box clearfix">
        <div class="col-md-12">
          <label><h2>Manage Email</h2></label>
        </div>
        <form [formGroup]='emailForm'>
            <!-- <div class="man col-md-12">
                <label>Type<a style="color:#f00 !important;">*</a></label>
                <div class="col-md-8" *ngIf="emailType !== []">
                  <div class="padMin" *ngFor="let t of emailType">
                    <input class="m_radio" type="radio" name='emailType' value='{{t._id}}' formControlName='emailType'> <span>{{t.title}}</span> <span  class="btn btn-sm btn_green" (click)="deleType(t._id)"><i class="fa fa-trash"></i></span>
                  </div>
                </div>
                <div class="col-md-4">
                    <label class="type-lab"> Add Email Type : </label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name='title' [(ngModel)]="title" placeholder="Enter Title"  [ngModelOptions]="{standalone:true}">                    
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn_green" (click)="addType(title)"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div> -->
            <div class="man col-md-6">
              <label>Title<a style="color:#f00 !important;">*</a></label>
              <input class="form-control" type="text" formControlName='title' placeholder="Title" >
            </div>      
            <div class="man col-md-6">
              <label>Subject<a style="color:#f00 !important;">*</a></label>
              <input class="form-control" type="text" placeholder="Subject" formControlName='subject'>
            </div>      
            <div class="man col-md-6">
              <label>From<a style="color:#f00 !important;">*</a></label>
              <input class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="text" placeholder="From"  formControlName='from'>
            </div>      
            <div class="man col-md-6">
              <label>CC<a style="color:#f00 !important;">*</a></label>
              <input class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="text" placeholder="CC" formControlName='cc'>
            </div>      
            <div class="man col-md-12">
              <label>Content<a style="color:#f00 !important;">*</a></label>
              <!-- <input class="form-control" type="text" placeholder="Content" appCkEditor> -->
              <textarea cols="50" class="form-control" id="txt" contenteditable="true" name="editor1" runat="server" rows="10" appCkEditor formControlName='content'></textarea>
          </div>        
        </form>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 text-left">
            <button class="btn btn-default" Back>Back</button>       
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn_green" [disabled]="!emailForm.valid" (click)='saveEmail()' >Save</button>
        </div>   
      </div>
    </div>
  </div>   
  </div> 