.mySetter{
line-height: 4;
}

.alert {
     padding: 0px !important; 
     margin-bottom: 0px !important; 
}
div>span{
    padding-left: 15px !important;
}
li.nav-item.active,
.nav > li.active, .nav > li:hover{
   background: #fff !important;    
}
tabset.tab-container > ul.nav.nav-tabs >li.nav-item.active, .nav > li:hover,
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background: #fff !important;
}
a.nav-link.disabled {
    display: none;
}